<br>
<%= form_for(@user) do |f| %>

<%= f.label "Name"%>
<div class="inputs">
  <%= f.text_field :first_name, :placeholder => "First" %>
  <%= f.text_field :last_name, :placeholder => "Last"%>
</div>


<%= f.label :phone_number %>
<div class="inputs"><%= f.text_field :phone_number, :placeholder => '+14448887722' %></div>

<%= f.label :email %>
<div class="inputs"><%= f.text_field :email, :placeholder => "cookie@monster.com" %></div>

<%= f.label :password %>
<div class="inputs"><%= f.text_field :password %></div>

<%= f.label :password_confirmation %>
<div class="inputs"><%= f.text_field :password_confirmation %></div>

<%= f.submit "Create Account",:id => "create_account",  :class => "previewbutton" %>

<% end %>
