= form_for(@gift) do |form|
  - unless @gift.errors.empty?
    %h3 There was a problem with the form
    %ul
      - @gift.errors.full_messages.each do |error|
        %li= error
  Giver #{form.text_field :giver_id}
  %br
  Receiver #{form.text_field :receiver_id}
  %br
  = form.label :message
  = form.text_area :message
  %span#text_char_count 160
  %br
  = label_tag :vendor
  = collection_select :vendor, :id, @vendors, :id, :name , :prompt => "Select a vendor or charity"
  %br
  = form.submit
