
= form_for(@gift) do |form|
  - unless @gift.errors.empty?
    %h3 There was a problem with the form
    %ul
      - @gift.errors.full_messages.each do |error|
        %li= error
  From: 
  %br
  #{text_field :giver, :first_name, :placeholder => "Johnny Appleseed"}
  %br
  %br
  %br
  To:
  %br
  #{text_field :receiver, :first_name, :placeholder => "Cookie"} 
  %br
  %br
  Phone # (Not Yours!): 
  %br
  #{text_field :receiver, :phone_number, :placeholder => "(234) 123-2345"}
  %br
  %br
  %br
  = form.label "Personal Message:"
  %br
  = form.text_area :message, :placeholder => "Happy Birthday, Cookie. Go buy yourself a cup of coffee on me. Talk soon!"
  %span#text_char_count 160
  %br
  = hidden_field :vendor, :id, :value => params[:vendor][:id]
  = form.submit "Preview Message", :class => 'previewbutton'
