<!DOCTYPE html>
<html>
<head>
  <title>SendFive</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic', :media => 'screen' %>
  <%= yield(:head) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26996682-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id=home_banner>
    <div id="header">
      <div class="content_wrapper">
        <div id="logo">
          <span class = "first">sendfive</span><span class="second">now</span>
        </div>
        <%= render 'layouts/authentication' %>
        <br class="clr"/>
      </div>
    </div>
  </div>
  <div class="clr"></div>
    <div id="main_content" class="content_wrapper">
      <%= yield %>
    </div>
</body>
</html>
