<!DOCTYPE html>
<html>
<head>
  <title>SendFive</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic', :media => 'screen' %>
  <%= yield(:head) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id=home_banner>
    <div id="header">
      <div class="content_wrapper">
        <div id="logo">
          <span class = "first">sendfive</span><span class="second">now</span>
        </div>
        <%= render 'layouts/authentication' %>
        <br class="clr"/>
      </div>
    </div>
  </div>
  <div class="clr"></div>
    <div id="main_content" class="content_wrapper">
      <%= yield %>
    </div>
</body>
</html>
